@media (max-width:1044px) {
html{
	font-size: 15px;
}
}


.hide-init{
	display: none!important;
}
.c-c{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.c-s{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}



/* text */
.block-title{
	font-weight: 600;
	font-size: 1.65rem;
	color: #1e2022;
}
.p-descr{
	font-size: 1.025rem;
	color: #677788;
	line-height: 1.65;
}
@media(max-width:1044px){
	.block-title{
		font-size: 1.25rem;
	}
}

/* links */
.c-link{
	background: rgba(0, 51, 161,0.07);
	padding: 0.65rem 1.5rem;
	border-radius: 3px;
	transition: 200ms ease-in;
	transition-property: background, color;
}
.c-link i{
	margin-left: 0.35rem;
	font-size: 18px;
}
.c-link:hover{
	color: #ffffff;
	background: rgba(0, 51, 161,1);
}
@media(max-width:664px){
	.c-link{
		font-size: 0.85rem;
		padding: 0.5rem 1rem;
	}
}


/* header */
.header ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}
.nav-wrapper{
	justify-content: flex-start;
}
.header-inner{
	display: flex;
	justify-content: space-between;
}
.site-logo{
	display: block;
	width:200px;
	flex: 0 0 180px;
}
.site-logo img{
	width: 100%;
}
.has-child{
	position: relative;

}
.has-child a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.child-list{
	position: absolute;
	bottom: 0;
	left: 0;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transform: translate(0,100%);
}
.nav-link{
	font-size: 0.95rem;
	color: #1e2022;
}
.nav-link a{
	color: inherit;
}
.header-links{
	display: flex;
	justify-content: flex-start;
}



.container-custom{
	max-width: 1920px;
}
.slider-wrapper{
	width: 100%;
}
.slider-slides{
	position: relative;
}
.slider-slides img{
	width: 100%;
}
.slider-wrapper{
	position: relative;
}
.slider-text-block{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex: 0 0 35%;
	padding: 1rem 3rem;
	padding-right: 1.5rem;
	padding-left: 4rem;
	position: relative;
	overflow: hidden;
}

.slider-img{
flex: 0 0 65%;
}
.dots{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: 0.5rem;
	width: 100%;
}
.dots__item{
	border-radius: 0.75rem;
	padding: 0;
	outline: none;
	border: none;
	margin: 0.3rem;
	background: #0033a1;
	display: block;
	box-sizing: border-box;
	opacity: 0.4;
	width: 0.5rem;
height: 0.5rem;
}
.dots__item--active{
opacity: 1;
}
.slider-slides{
	display: flex;
}
.slider-text-block--title{
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 1.2rem;
}
.slider-text-block--descr{
	color:#677788;
	font-size: 0.9rem;
}
.slider-text-block--link{
	margin-top: 2rem;
}
.slider-next{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 50%;
	right: 0.5rem;
	background: #ffffff;
	border-radius: 36px;
	transition: 200ms ease-in;
	transition-property: 	background, opacity;
	transform: translate(0,-50%);
	opacity: 0;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.slider-prev{
	position: absolute;
	width: 36px;
	height: 36px;
	top: 50%;
	left: 0.5rem;
	background: #ffffff;
	border-radius: 36px;
	transition: 200ms ease-in;
	transition-property: 	background, opacity;
	transform: translate(0,-50%);
	opacity: 0;
	box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.slider-next i, .slider-prev i{
	font-size: 18px;
	transition: 200ms ease-in;
	transition-property: color;
}
.slider-next:hover,.slider-prev:hover{
	background: #0033a1;
	cursor: pointer;
}
.slider-next:hover i{
	color: #ffffff;
}
.slider-prev:hover i{
	color: #ffffff;
}
.slider-wrapper:hover .hero-prev{
	opacity: 1;
}
.slider-wrapper:hover .hero-next{
	opacity: 1;
}
@media (max-width:1301px) {
	.slider-text-block {
	padding-left: 1rem;
	}
  }
  @media (max-width:1200px) {
	.slider-text-block--title {
	font-size: 1.75rem;
	}
	.slider-text-block--link{
		margin-top: 1rem;
	}
  }
@media(max-width:1044px){
	.slider-slides{
		flex-direction: column;
	}
	.slider-text-block{
		order:1;
		margin-top: -40px;
	}
	.slider-img{
		order:0;
	}
	.slider-text-block--link{
		margin-top: 1rem;
	}
	.slider-text-block{
		background: #fff;
		border-radius: 10px;
		padding: 1rem;
	}
	.dots{
		bottom: -1rem;
	}
}
@media(max-width:664px){
.hero-next,.hero-prev{
	display: none;
}
.slider-text-block--title{
	font-size: 1.35rem;
}
}
@media(max-width:496px){
	.slider-text-block{
		margin-top: 0px;
	}
	.slider-text-block--link{
		margin-top: 0;
	}
}

/* quantums */

.quantums-block{
	background: url('../img/quantums-bg.svg') center no-repeat,linear-gradient(90deg, #fff 40%, #f7faff 40%, #f7faff 100%);
	padding-top: 3rem;
}
.quantums{
	display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}

.quntum-logo{
	width: 60px;
	height: 60px;
	margin-bottom: 1rem;
	background: #ffffff;
	border: 2px solid #f7faff;
	border-radius: 3px;

}
.quntum-logo img{
	width: 100%;
	max-width: 40px;
}
.quantum-wrapper{
	padding: 10px;
	max-width: 33.33%;
	flex: 0 0 33.33%;
	position: relative;
}
@media (min-width:1200px) {
	.quantum-wrapper {
	    max-width: 25%;
    flex: 0 0 25%;
	}
  }
  
  @media (min-width:1300px) {
	.quantum-wrapper {
	    max-width: 25%;
    flex: 0 0 25%;
	}
  }
  
  @media (min-width:1480px) {
	.quantum-wrapper {
	    max-width: 20%;
    flex: 0 0 20%;
	}
  }

.quantum{
	padding: 1rem;
	padding-bottom: 2.5rem;
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #ffffff;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.03);
	transition: transform 200ms ease-in;
}
.quantum-anim-logo{
	position: absolute;
	top: 50%;
	right: 0;
	height: 80%;
	width: auto;
	transform: translate(50%,-50%);
	animation: qu-rotate infinite linear 10s;
	animation-delay: 0;
	opacity: 0;
	transform-origin: center center;
	transition: 200ms ease-in;
transition-property: opacity;
}
.quantum-anim-logo img{
	height: 100%;
}
@keyframes qu-rotate {
	0%{
		transform: translate(50%,-50%) rotate(0);
	}
	0%{
		transform: translate(50%,-50%) rotate(360deg);
	}
}
.quantum:hover .quantum-anim-logo{
	opacity: 0.065;
}
.quantum:hover{
	cursor: pointer;
	transform: translate(0,-5px);
}
.quantums-slide-more{
	position: absolute;
	bottom: 1.5rem;
	font-size: 0.9rem;
	color: #0033a1;
	font-weight: 600;
}
.quantums-slide-title{
	font-size: 1.15rem;
	font-weight: 600;
}
.quantums-slide-descr{
	font-size: 0.95rem;
	color: #797979;
}



@media (max-width:1044px) {

  }

/* about */
.about{
	position: relative;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.about .row{
	z-index: 50;
	position: relative;
}
.about--descr{
	text-align: center;
	max-width: 640px;
	margin: 0 auto;
}
.about--title{
	text-align: center;
	margin-bottom: 1.5rem;
}
.about--links{
	text-align: center;
	margin-top:2rem;
}
.logos-anim-img{
	width: 90px;
	height: 90px;
	flex: 0 0 90px;
	border-radius: 90px;
	box-shadow: 0 12px 15px rgba(140,152,164,0.1);
	background: #ffffff;
}
.logos-anim-img img{
width: 100%;
max-width: 50px;
}
.logos-line-1{
	display: flex;
	transition: transform 30ms;
}
.logos-line-1 .c-4:nth-child(2) .logos-anim-img{
	transform: translate(0,-10%);
}
.logos-line-1 .c-4:last-child .logos-anim-img{
	transform: translate(0,10%);
}

.logos-line-2{
	display: flex;
	justify-content: center;
	padding: 3rem 0rem;
	transition: transform 10ms;
}
.logos-line-3{
	display: flex;
	justify-content: space-between;
	transition: transform 5ms;
}

.logos-line-3 .c-4:last-child .logos-anim-img{
	transform: translate(0,20%);
}
.logos-anim-block{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%,0%);
	width: 100%;
}
.anim-overlay{
	position: absolute;
	bottom: 0%;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to bottom,rgba(255,255,255,0.1) 0,#fff 100%);
	background-repeat: repeat-x;
}




/* news */
.news--title{
	margin-top: 8rem;
}
.news-hero{
	margin-bottom: 3rem;
}
.news-line{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	position: relative;
}
.single-news{
	border-top: 1px solid #e9ecef;
	margin-top: 2rem;
	padding-top: 2rem;
}
.single-news:first-child{
	border-top: none;
	margin-top: 0rem;
	padding-top: 0rem;
}
.news-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.news-data{
	flex: 0 0 66.66%;
	max-width: 66.66%;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
.news-thumbnail{
	flex: 0 0 33.33%;
	max-width: 33.33%;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	transition: 150ms ease-out;
	transition-property: opacity;
}
.news-thumbnail img{
	width: 100%;
}
.single-news:hover .news-thumbnail{
	opacity: 0.6;
}
.news-data{
	display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.news-header,.news-expect{
	flex: 0 0 50%;
	max-width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}
.post-meta{
	flex: 0 0 100%;
	max-width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.news-title{
	font-size: 1.15rem;
	line-height: 1.2;
	font-weight: 600;
}
.news-expec--descr{
	font-size: 0.95rem;
	color: #797979;
}
.post-meta{
	font-size: 0.9rem;
	color: #797979;
	opacity: 0.7;
}
.post-meta i{
margin-right: 0.25rem;
}
.post-meta--views{
	margin-left: 1rem;
}

.all-news--links{
	margin-top: 2rem;
}



/* events */
.event{
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03), 0px 10px 20px rgba(0, 0, 0, 0.03);
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	transition: transform 200ms ease-in;
	background-size: cover;
	background-position:center center;
	margin-top: 1rem;
}
.event:first-child{
	margin-top: 0rem;
}
.event:hover{
	cursor: pointer;
	transform: translate(0,-5px);
}
.event-data{
	font-size: 0.95rem;
	padding: 0.5rem 1rem;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.event-data i{
	margin-right: 0.25rem;
}
.event-title{
	font-size: 1.15rem;
	line-height: 1.2;
	font-weight: 600;
	padding: 0rem 1rem;
}
.event-link{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.event-data--time{
	color:#e06100;
	background: rgba(224, 97, 0, 0.103);
}
.event-data--time{
	padding: 0.25rem 0.5rem; 
}
.event-data--place{
	padding-bottom: 1rem;
}
@media(max-width:1044px){
	.news-data,.news-thumbnail{
		flex: 0 0 50%;
		max-width: 50%;
	}
.news-header,.news-expect{
	max-width: 100%;
	flex: 0 0 100%;
}
  }

  
@media(max-width:924px){
.news .c-8{
	flex:  0 0 100%;
	max-width: 100%;
	order: 1;
}
.news .c-4{
	flex:  0 0 100%;
	max-width: 100%;
	order: 0;
	margin-bottom: 2rem;
	padding: 0;
}
.events{
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	padding-bottom: 1rem;
}
.event{
	flex: 0 0 300px;
	max-width: 300px;
	margin-top: 0;
	margin-right: 1rem;
}
.news-hero{
	margin-bottom: 1rem;
}
.events::-webkit-scrollbar {
	height: 6px;
  }
  .events::-webkit-scrollbar-track {
	background: linear-gradient(to bottom, #fff 20%,
	#C1D4FE 20%,#C1D4FE 80%,#fff 80%, #fff 100%);

  }
  .events::-webkit-scrollbar-thumb {
	background: rgba(0, 51, 161,.5);
	border-radius: 6px; 
  }
  .events::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 51, 161,1);
  }
	}
	
	@media(max-width:664px){
		.news-line{
			flex-direction: column;
		}
		.news-data,.news-thumbnail{
			flex: 0 0 100%;
			max-width: 100%;
		}
		.news-thumbnail{
			order: 0;
		}
		.news-data{
			order: 1;
			margin-top: 1rem;
		}
	}

/* road-map */
.road{
	margin-bottom: 2rem;
	margin-top: 5rem;
}
.road-card-inner{
	padding: 1rem;
	background: #fff;
	border-radius: 0.25rem;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05);
	transition: 200ms all;
}
.activ-card{
	background: #0033a1;
}
.region{
	transition: 250ms;
	transition-property:fill, transform;
	cursor: pointer;
}
.active-region{
	fill: #0033a1;
	transform: translate(0,-3px);
}
.road-card-icon {
	width: 60px;
    height: 60px;
    margin-bottom: 1rem;
    background: #ffffff;
    border: 2px solid #f7faff;
    border-radius: 3px;
}
.road-container{
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 1rem;
}
.road-card{
	max-width: 16.666%;
	flex: 0 0 16.666%;
	width: 100%;
	padding: 0 10px;
	position: relative;
}
.road-card-data{
	color: #0033a1;
	font-size: 1rem;
	
}
.road-card-data i{
	margin-right: 0.5rem;
}
.read-card-title{
	font-size: 0.95rem;
	margin-top: 0.5rem;
}

.truck-line-dot{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	background: #C1D4FE;
	border: 4px solid #fff;
}
.truck-line--border{
	width: 100%;
	height: 2px;
	position: absolute;
	top: 0.75rem;
	right: 0;
	transform: translate(-50%,0);
	background: #C1D4FE;
	z-index: -1;
}
.truck-line {
	margin-bottom: 1rem;
}
.road-card:first-child .truck-line--border{
	width: 50vw;
	left: 50%;
}
@media (max-width:1044px) {
	.road-container{
		overflow-x: auto;
		justify-content: flex-start;
		flex-wrap: nowrap;
	}
	.road-card{
		min-width: 200px;
	}
	.road-container{
		padding-bottom: 1rem;
		margin-left: -3%;
		margin-right: -3%;
	}
	.road-container::-webkit-scrollbar {
		height: 6px;
	  }
	  .road-container::-webkit-scrollbar-track {
		background: linear-gradient(to bottom, #fff 20%,
		#C1D4FE 20%,#C1D4FE 80%,#fff 80%, #fff 100%);

	  }
	  .road-container::-webkit-scrollbar-thumb {
		background: rgba(0, 51, 161,.5);
		border-radius: 6px; 
	  }
	  .road-container::-webkit-scrollbar-thumb:hover {
		background: rgba(0, 51, 161,1);
	  }
}

/* testimonials */
.testimonials{
	background-image:url('../img/abstract-shapes/bg-elements-3.svg'),linear-gradient(to bottom, #f7faff 0, #f7faff 100%);
	background-size: cover;
	padding-top: 5rem;
	padding-bottom: 4rem;
}
.testimonial-text{
	font-size: 1.05rem;
}
.testimonial-user {
	margin-top: 1.5rem;
}
.user--icon{
	height: 2.5rem;
	width: 2.5rem;
	flex: 0 0 2.5rem;
	border-radius: 2.5rem;
	background: #C1D4FE;
	color:#0033a1;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	margin-right: 1rem;
}
.user-role{
	font-size: 0.8rem;
	color: #797979;
	margin-top: 0.25rem;
}
.user--name{
	margin-bottom: 0;
	color:#1e2022;
	line-height: 1;
	font-weight: 600;
}
.testimonial-slide{
	padding: 0.5rem 15px;
	padding-bottom: 1.5rem;
}
.testimonial-inner{
	padding: 1.5rem;
	border-radius:5px;
	background: #fff;
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05), 0px 10px 20px rgba(0, 0, 0, 0.05);
}
.write-comment{
	margin-top: 2rem;
}
.testimonial-slider{
	margin-left: -15px;
	margin-right: -15px;
}

.testimonial-slider-wrapper{
	position: relative;
}
.testimonials-next,.testimonials-prev{
	opacity: 1;
}
.testimonials-next{
	right: 0;
	transform: translate(50%,-50%);
}
.testimonials-prev{
	left: 0;
	transform: translate(-50%,-50%);
}

